---
# role: ansible-role-podman
# file: tasks/conf.yml

- name: Configure /etc/container/*.conf
  template:
    src: "{{ item }}.j2"
    dest: "/{{ item }}"
    owner: root
    group: root
    mode: 0644
    backup: yes
  loop:
    - etc/containers/libpod.conf
    - etc/containers/registries.conf
    - etc/containers/storage.conf
