# Managed by ansible.
# file: {{ template_destpath }}
unqualified-search-registries = {{ podman_search_registries | to_json }}
short-name-mode = {{ podman_short_name_mode | to_json }}
{% for __podman_location in (podman_insecure_registries + podman_blocked_registries)
   | unique | difference(podman_registries | map(attribute='location')) | sort %}

[[registry]]
location = {{ __podman_location | to_json }}
insecure = {{ (__podman_location in podman_insecure_registries) | to_json }}
blocked = {{ (__podman_location in podman_blocked_registries) | to_json }}
{% endfor %}
{% for __podman_registry in podman_registries %}

[[registry]]
{% for __podman_key, __podman_value in __podman_registry | dictsort if __podman_key != 'mirror' %}
{{ __podman_key | to_json }} = {{ __podman_value | to_json }}
{% endfor %}
{% for __podman_mirror in __podman_registry.mirror | default([]) %}

[[registry.mirror]]
{% for __podman_key, __podman_value in __podman_mirror | dictsort %}
{{ __podman_key | to_json }} = {{ __podman_value | to_json }}
{% endfor %}
{% endfor %}
{% endfor %}

[aliases]
{% for __podman_alias, __podman_image in podman_registry_aliases | dictsort %}
{{ __podman_alias | to_json }} = {{ __podman_image | to_json }}
{% endfor %}
