# Managed by ansible.
# file: {{ template_destpath }}
[storage]
driver = {{ podman_storage_driver | to_json }}
graphroot = {{ podman_storage_graphroot | to_json(ensure_ascii=false) }}
runroot = {{ podman_storage_runroot | to_json(ensure_ascii=false) }}
rootless_storage_path = {{ podman_storage_rootless_path | to_json(ensure_ascii=false) }}

[storage.options]
{% for __podman_key, __podman_value in podman_storage_options | dictsort if __podman_value is not mapping %}
{{ __podman_key | to_json }} = {{ __podman_value | to_json(ensure_ascii=false) }}
{% endfor %}
{% for __podman_section, __podman_options in {'overlay': {'mountopt': podman_storage_mountopt}}
   | combine(podman_storage_options, recursive=true) | dictsort if __podman_options is mapping %}

[storage.options.{{ __podman_section | to_json }}]
{% for __podman_key, __podman_value in __podman_options | dictsort %}
{{ __podman_key | to_json }} = {{ __podman_value | to_json(ensure_ascii=false) }}
{% endfor %}
{% endfor %}
